<html>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
  <style>
    #container {
      max-width: 500px;
      margin: 100px auto;
      padding: 10px 50px 40px;
      background-color: #f6f6f6;
      border-radius: 20px;
    }
    h1 {
      font-family: 'Slabo 27px', serif;
      font-size: 50px;
    }
    p {
      font-family: 'Roboto', sans-serif;
    }
  </style>
<body>
  <div id='container'>
    <h1>All great adventures come to an end</h1>
    <p>Unfortunately, SceneSquid has ceased operations. A huge thanks to all our loyal customers and users -- we've enjoyed seeing and supporting your thousands of events over the years. So long and thanks for all the fish. </p>
  </div>
</body>
</html>